#hero {
  background-color: #e7b0a1;
  height:400px;
  text-align: center;
  padding-top: 110px;
}

#intro {
  background-color: #333333;
  height:400px;
  text-align: center;
  padding-top: 110px;
  padding-left: 20%;
  padding-right: 20%;

}

#intro h2 {
  color: #fff;
  font-family: 'corporate-s', sans-serif;
  font-size: 2.5em;
  line-height: 1.3;
}

#contact {
  background-color: #e7b0a1;
  height:200px;
  text-align: center;
  padding-top: 70px;
}

#projects {
  background-color: #526176;
  padding-top: 100px;
  padding-bottom: 100px;
}

.project-head {
  text-align: center;
  color: #fff;
  font-family: 'corporate-s', sans-serif;
  font-size: 2.5em;
  margin-bottom: 50px;
}

h2 {
  color: #fff;
}

.hero-text {
  color: #fff;
  font-family: 'corporate-s', sans-serif;
  font-size: 1.5em;
}

.corporate {
  font-family: 'corporate-s', sans-serif;
  font-size: 5em;
}

.project {
	height: 350px;
  width: 100%
	margin-bottom: 15px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #333;
  margin-right: 15px;
  margin-top: 15px;
}


.project h2 {
  color: #fff;
}

.project p {
  color: #fff;

}

.project a {
  border-bottom: solid 2px;
  text-decoration: none;
}

.info {
  background-color:rgba(0,0,0,0.7);
  width:100%;
   height:100%;
}

.info :hover {
  background-color:rgba(0,0,0,0.3);
}

.project :hover {
  background-color:rgba(0,0,0,0.3);
}

/*#color-overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #333333;
	 opacity: .9;
}

#color-overlay:hover {
	 opacity: .5;
}*/


.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

a {
  padding: 0px 20px;
  word-wrap: normal;
  display: inline-block;
}

i {
  color: #333333
}
